
  <div class="signIn-background-image">

  <div class="container col-sm-4  col-sm-offset-4">
    <form role="form" class="sign-in-form">
      <div class="form-group">
        <label for="email"><h4 class="email-password-font">EMAIL:</h4></label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="pwd"><h4 class="email-password-font">PASSWORD:</h4></label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <br>
      <div class="form-group">
        <a href="#/home" class="btn btn-warning email-password-font" role="button">LOGIN</a>
      </div>
    </form>
  </div>

  </div>
