
  <div class="signIn-background-image">

    <!-- <div class="container cen-jus">

      <div class="col-sm-6 col-offset-4">
        <form>
          <div class="form-group sign-in-password">
            <input required type="text" class="form-control" placeholder="E-MAIL">
          </div>
          <div class="form-group">
            <input required type="text" class="form-control" placeholder="PASSWORD">
          </div>
          <a href="#/home">LOGIN</a>
        </form>
      </div>

    </div> -->
  </div>
