@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Mako);
@import url(https://fonts.googleapis.com/css?family=Asap);

body {
}

.navbar {
  background-color: lightgrey;
  box-shadow: 2.5px 2.5px 1.5px #999999;
}

.navbar-brand {
  font-family: 'Righteous', cursive;
}

.google-login {
  font-family: 'Mako', sans-serif;
  font-size: 14px;
}

.nav-font {
  font-family: 'Mako', sans-serif;
  font-size: 14px;
}

.search-page {
  margin-top: 350px;
}

#map {
  height: 500px;
  width: 100%;
  max-width: none;
  margin-top: -15px;
  box-shadow: 5px 5px 2.5px #999999;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.index-list {
  margin-top: 55px;
  margin-left: 35px;
  margin-bottom: -25px;
  color: rgba(0, 0, 0, 0.65);
}

.index-list-connected {
  margin-top: 15px;
  border-bottom: 1px solid lightgrey;
}

.index-welcome-image {
  background: url('http://i.imgur.com/oxxfVyS.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -16.5px;
  padding-bottom: 750px;
}

.local-city-white {
  font-family: 'Righteous', cursive;
  color: rgba(255, 255, 255, 0.5);
  font-size: 100px;
  text-align: center;
  vertical-align: center;
}

#buttonAddVenue {
  border-radius: 5px;
  margin-top: 15px;
  color: red;
}

.category-bar {
  width: 150px;
}

.signIn-background-image {
  background: url('http://i.imgur.com/AEWDvhG.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -16.5px;
  padding-bottom: 750px;
}

.sign-in-form {
  margin-top: 250px;
}

.email-password-font {
  color: rgba(255, 255, 255, .815);
  font-family: 'Mako', sans-serif;
  font-size: 13.65px;
  letter-spacing: 1.20px;
}

.btn-warning {
  border: 1px solid lightgrey;
  font-size: 13.65px;
  letter-spacing: 1px;
}

.local-city-title {
  margin-top: 85px;
  margin-left: 60px;
  color: rgba(255, 255, 255, .815);
  font-family: 'Righteous', cursive;
  font-size: 80px;
}


