@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Mako);

body {
}

.navbar {
  background-color: lightgrey;
  box-shadow: 2.5px 2.5px 1.5px #999999;
}

.navbar-brand {
  font-family: 'Righteous', cursive;
}

.google-login {
  font-family: 'Mako', sans-serif;
  font-size: 14px;
}

.nav-font {
  font-family: 'Mako', sans-serif;
  font-size: 14px;
}

.search-page {
  margin-top: 350px;
}

#map {
  height: 500px;
  width: 100%;
  max-width: none;
  margin-top: -15px;
  box-shadow: 5px 5px 2.5px #999999;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.index-list {
  margin-top: 55px;
  margin-left: 35px;
  margin-bottom: -25px;
  color: rgba(0, 0, 0, 0.65);
}

.index-list-connected {
  margin-top: 15px;
  border-bottom: 1px solid lightgrey;
}

#buttonAddVenue {
  border-radius: 5px;
  margin-top: 15px;
  color: red;
}



